<html>
  <head></head>
  <body>
    
    <header></header>

    <main class="login-page">

        <div class="text-center title containter-fluid wow fadeInUp" data-wow-delay="0.2s">
            <h1 class="home-title">Your Account.</h1>
            <h2 class="home-description">Update your Details Below</h2>
        </div>

        <div class="jumbotron">
          <div class="row">
              <div class="md-form form-sm">
            <input type="text" id="form11" disabled>
            <label for="form11" class="disabled">{{email}}</label>
            </div>
          </div>
        </div>

    
    </main>

  </body>
</html>