<html>
  <head></head>
  <body>
    
    <header></header>

    <main class="login-page">

        <div class="text-center title containter-fluid wow fadeInUp" data-wow-delay="0.2s">
            <h1 class="home-title">Your Account.</h1>
            <h2 class="home-description">Update your Details Below</h2>
        </div>

        <div class="jumbotron">
          <div class="row form-row">
            <div class="col-md-3">
              <h2 class="form-title">Your Email : </h2>
            </div>
            <div class="col-md-9"><div class="md-form form-sm input-content">
                <input type="text" id="form11" disabled>
                <label for="form11" class="disabled">{{email}}</label>
                </div></div>
          </div>
          <div class="row form-row">
            <div class="col-md-3">
              <h2 class="form-title">Your Name : </h2>
            </div>
            <div class="col-md-7">
              <input type="text" id="form11" placeholder="{{authorName}}" [(ngModel)]="name">
              <label for="form11" class="disabled"></label>
            </div>
            <div class="col-md-2">
              <button class="btn btn-primary waves-light" mdbRippleRadius (click)="updateName(name)"><i class="fa fa-upload"></i>   Update</button>
            </div>
          </div>
            <div class="row">
              <div class="col-md-3">
                <h2 class="form-title">Your Photo : </h2>
              </div>
              <div class="col-md-3">
                <img src="{{display | async}}" alt="avatar" class="img-fluid rounded-circle z-depth-1" height="20px" width="20px">
                <img src="{{imgsrc |async}}" alt="" class="img-fluid rounded-circle z-depth-1" height="20px" width="20px">
              </div>
              <div class="col-md-5">
                <button class="btn btn-primary waves-light" (click)="fileinput.click()" mdbRippleRadius><i class="fa fa-upload"></i>   Upload</button>
                <input type="file" #fileinput style="display : none;" (change)="selectImage($event)" accept=".png,.jpg" />
              </div>                
            </div>
        </div>

    
    </main>

  </body>
</html>