.body{
    margin-top: 6em;
    padding: 6em;
}
.home-title{
    font-family: 'Rubik', sans-serif;
    font-size: 62px;
}
.home-description {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}
.title {
    margin-bottom: 6rem;
}