<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Rubik:700" rel="stylesheet">
   
    

</head>

<body>
<!--Main Navigation-->
<header>

</header>

<main class="body">

        <div class="text-center title containter-fluid wow fadeInUp" data-wow-delay="0.2s">
                <h1 class="home-title">New Article.</h1>
                <h2 class="home-description">Get started on your new masterpiece below</h2>
            </div>

    <!--Article Submission-->
<form [formGroup]="articleForm" (ngSubmit)="onFormSubmit()">

    <div class="md-form">
        <i class="fa fa-pencil prefix grey-text"></i>
        <input type="text" id="title" class="form-control" mdbActive formControlName="title">
        <label for="title">Title</label>
    </div>

    <div class="md-form">
        <i class="fa fa-quote-left prefix grey-text"></i>
        <input type="text" id="description" maxlength="140" class="form-control" mdbActive formControlName="description">
        <label for="description">Description (Less than 140 characters)</label>
    </div>

    <div class="md-form">
        <i class="fa fa-tag prefix grey-text"></i>
        <input type="text" id="cat" class="form-control" mdbActive formControlName="category">
        <label for="form34">Category</label>
    </div>

    <div class="md-form">
        <i class="fa fa-pencil prefix grey-text"></i>
        <app-ngx-editor [placeholder]="'Enter text here...'" [spellcheck]="true" formControlName="body" minHeight="400px"></app-ngx-editor>
    </div>

    <div class="text-center">
        <button class="btn btn-black waves-light" mdbRippleRadius>Publish<i class="fa fa-upload ml-1"></i></button>
    </div>


</form>
<!--Article Submission-->


  </main>
</body>
</html>
