.body{
    margin-top: 6em;
    padding-left: 20px;
    padding-right: 20px;
}
.home-title{
    font-family: 'Rubik', sans-serif;
    font-size: 62px;
}
.home-description {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}
.title {
    margin-bottom: 6rem;
}
.upload-image {
    margin-bottom: 40px;
    margin-top: 20px;
}
.custom-select {
    position: relative;
    display: block;
    max-width: 400px;
    min-width: 180px;
    margin: 0 auto;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    z-index: 10;
}
.progress  {
    height: 8px;
    margin-top: 10px; 
}
.progress-bar { 
    height: 8px;
}
.generate-link {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}