<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Rubik:700" rel="stylesheet">
   
    

</head>

<body>
<!--Main Navigation-->
<header>

</header>

<main class="body">

        <div class="text-center title containter-fluid wow fadeInUp" data-wow-delay="0.2s">
                <h1 class="home-title">New Article.</h1>
                <h2 class="home-description">Get started on your new masterpiece below</h2>
            </div>

    <!--Article Submission-->
<form [formGroup]="articleForm" (ngSubmit)="onFormSubmit()">

    <div class="md-form">
        <i class="fa fa-pencil prefix grey-text"></i>
        <input type="text" id="title" class="form-control" mdbActive formControlName="title">
        <label for="title">Title</label>
    </div>

    <div class="md-form">
        <i class="fa fa-quote-left prefix grey-text"></i>
        <input type="text" id="description" class="form-control" mdbActive formControlName="description">
        <label for="description">Description (Keep it short)</label>
    </div>

    <div class="md-form">
        <i class="fa fa-tag prefix grey-text"></i>
        <label>Category</label>
        <select name="select-cat" id="styledSelect1"  class="browser-default custom-select" formControlName="category"> 
            <option value="" selected disabled >Select a Category</option>
            <option *ngFor="let cats of cat" value="{{cats}}">{{cats}}</option>
        </select>
    
    </div>

    <div class="md-form">
        <i class="fa fa-pencil prefix grey-text"></i>
        <app-ngx-editor [placeholder]="'Enter text here...'" [spellcheck]="true" formControlName="body" minHeight="400px"></app-ngx-editor>
    </div>

    <div class="row upload-image">
            <div class="col-md-3">
              <h2 class="form-title">Add Photo : </h2>
            </div>
            <div class="col-md-3">
              <img src="{{imghttp }}" alt="" class="img-fluid z-depth-1" height="20px" width="20px" *ngIf="this.imghttp">
            </div>
            <div class="col-md-5">
              <button class="btn btn-primary waves-light" (click)="fileinput.click()" mdbRippleRadius><i class="fa fa-upload"></i>   Upload</button>
              <input type="file" #fileinput style="display : none;" (change)="selectImage($event)" accept=".png,.jpg,.jpeg" />
            </div>                
          </div> 

    <div class="text-center">
        <button class="btn btn-black waves-light" mdbRippleRadius>Publish<i class="fa fa-upload ml-1"></i></button>
    </div>


</form>
<!--Article Submission-->


  </main>
</body>
</html>
