<!--The content below is only a placeholder and can be replaced.-->
<html lang="en">
    <head></head>
    <body>

          <!--  <mdb-navbar SideClass="navbar fixed-top navbar-light white navbar-expand-lg scrolling-navbar ie-nav" [containerInside]="false">
                <logo>
                    <a class="logo navbar-brand" href="#">
                        <strong>Website</strong>
                    </a>
                </logo>
                <links>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item waves-light" mdbRippleRadius>
                            <a class="nav-link" [routerLink]="['/home']">Home
                            </a>
                            <div class="highlight"></div>
                        </li>
                        <li class="nav-item waves-light" mdbRippleRadius>
                            <a class="nav-link" [routerLink]="['/about']">About</a>
                            <div class="highlight"></div>
                        </li>
                        <li class="nav-item dropdown" dropdown>
                            <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
                            Blog<span class="caret"></span></a>
                            <div class="highlight"></div>
                            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu" >
                                <div *ngFor="let cats of cat"> 
                                <a class="dropdown-item waves-light" href="/blog/posts/{{cats}}">{{cats}}</a>
                            </div>
                            </div>
                        </li>
                        <li class="nav-item waves-light" mdbRippleRadius *ngIf="!(authService.admin)">
                            <a class="nav-link" [routerLink]="['/auth/login']">Login</a>
                            <div class="highlight"></div>
                        </li>
                        <li class="nav-item waves-light" mdbRippleRadius *ngIf="!(authService.admin)">
                            <a class="nav-link"><img src="assets/guest.png" alt="" height="5px" width="5px" class="img-fluid rounded-circle display-image">Guest</a>
                            <div class="highlight"></div>
                        </li>
                        <li class="nav-item waves-light" mdbRippleRadius *ngIf="(authService.admin)">
                            <a class="nav-link" [routerLink]="['/admin/write-article']">Write an Article</a>
                            <div class="highlight"></div>
                        </li>
                        <li class="nav-item waves-light" mdbRippleRadius *ngIf="(authService.admin)">
                            <a class="nav-link" (click)="logout()">Logout</a>
                            <div class="highlight"></div>
                        </li>
                        <li class="nav-item waves-light" mdbRippleRadius *ngIf="(authService.admin)">
                            <a class="nav-link"><img src="{{image}}" alt="" class="img-fluid rounded-circle z-depth-1 display-image" height="5px" width="5px">  {{name}}</a>
                        </li>
                        <li class="nav-item waves-light" mdbRippleRadius *ngIf="!(authService.admin)">
                            <a class="nav-link blank-link"></a>
                        </li>
                    </ul>
                    <ul class="navbar-nav nav-flex-icons">
                            <li class="nav-item waves-light" mdbRippleRadius *ngIf="(authService.admin)">
                                    <a class="nav-link" [routerLink]="['/admin/user-account']">
                                        <i class="fa fa-gear"></i>
                                    </a>
                                    <div class="highlight"></div>
                                </li>
                        <li class="nav-item waves-light" mdbRippleRadius>
                            <a class="nav-link">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <div class="highlight"></div>
                        </li>
                        <li class="nav-item waves-light" mdbRippleRadius>
                            <a class="nav-link">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <div class="highlight"></div>
                        </li>
                    </ul>
                </links>
            </mdb-navbar> -->
            <!-- Main -->

            <!--Primary Toolbar-->
            <div style="height: 100%;">
            <div class="toolbarcontainer nav-theme">
            <mat-toolbar color="primary" class="toolbar">
                    <span class="logo">Website</span>

                    <!--BUTTONS-->
                    <!--Home-->
                    <div fxShow="true" fxHide.lt-md="true">
                    <button mat-button class="toolbar-button" [routerLink]="['/home']">Home
                    <div class="highlight"></div>
                    </button>
                    <!--About-->
                    <button mat-button class="toolbar-button" [routerLink]="['/about']">About
                        <div class="highlight"></div>
                    </button>
                    <!--Blog-->
                    <button mat-button [matMenuTriggerFor]="menu" class="toolbar-button">Blog <div class="highlight"></div></button>
                    <mat-menu #menu="matMenu">
                    <div *ngFor="let cats of cat">
                    <a href="/blog/posts/{{cats}}"><button mat-menu-item >{{cats}}
                    </button></a>
                    </div>
                    </mat-menu>
                    <!--Write An Article-->
                    <button mat-button class="toolbar-button" [routerLink]="['/admin/write-article']" *ngIf="(authService.admin)">Write an Article
                        <div class="highlight"></div>
                    </button>                    
                    <!--Login-->
                    <button mat-button class="toolbar-button" [routerLink]="['/auth/login']" *ngIf="!(authService.admin)">Login
                        <div class="highlight"></div>
                    </button>
                    <!--User Name-->
                    <button mat-button class="toolbar-button" *ngIf="(authService.admin)">
                        {{name}}
                        <div class="highlight"></div>    
                        </button>
                    <!--Logout-->
                    <button mat-button class="toolbar-button" (click)="logout()" *ngIf="(authService.admin)">Logout
                        <div class="highlight"></div>
                    </button>
                </div>
                
                    <!--Media Icons-->
                    <span class="toolbar-spacer"></span>
                    <div fxShow="true" fxHide.gt-sm="true">
                    <button mat-button (click)="sidenav.toggle()" class="toolbar-icon"><mat-icon>menu</mat-icon></button>
                    </div>
                    <div fxShow="false" fxHide.gt-sm="false">
                    <mat-icon class="toolbar-icon" *ngIf="(authService.admin)" [routerLink]="['/admin/user-account']">settings</mat-icon>
                    <mat-icon class="toolbar-icon">camera</mat-icon>
                    <mat-icon class="toolbar-icon">message</mat-icon>
                    </div>
              </mat-toolbar>
            </div>
              <mat-sidenav-container fxFlexFill class="sidenav-container">

                    <mat-sidenav #sidenav fxLayout="column" class="main-sidenav" [fixedInViewport]="Non-Fixed">
                
                      <div fxLayout="column">
                
                        <a (click)="sidenav.toggle()" mat-button>Close</a>
                
                    <!--BUTTONS-->
                    <!--Home-->
                    <button mat-button class="toolbar-button" [routerLink]="['/home']">Home
                    <div class="highlight"></div>
                    </button>
                    <!--About-->
                    <button mat-button class="toolbar-button" [routerLink]="['/about']">About
                        <div class="highlight"></div>
                    </button>
                    <!--Blog-->
                    <button mat-button [matMenuTriggerFor]="menu" class="toolbar-button">Blog <div class="highlight"></div></button>
                    <mat-menu #menu="matMenu">
                    <div *ngFor="let cats of cat">
                    <a href="/blog/posts/{{cats}}"><button mat-menu-item >{{cats}}
                    </button></a>
                    </div>
                    </mat-menu>
                     <!--Write An Article-->
                    <button mat-button class="toolbar-button" [routerLink]="['/admin/write-article']" *ngIf="(authService.admin)">Write an Article
                        <div class="highlight"></div>
                    </button>                    
                    <!--Login-->
                    <button mat-button class="toolbar-button" [routerLink]="['/auth/login']" *ngIf="!(authService.admin)">Login
                        <div class="highlight"></div>
                    </button>
                    <!--User Name-->
                    <button mat-button class="toolbar-button" *ngIf="(authService.admin)">
                        {{name}}
                        <div class="highlight"></div>    
                    </button>
                    <!--Logout-->
                    <button mat-button class="toolbar-button" (click)="logout()" *ngIf="(authService.admin)">Logout
                        <div class="highlight"></div>
                    </button>
                
                      </div>
                
                    </mat-sidenav>
                
                    <mat-sidenav-content fxFlexFill><router-outlet></router-outlet></mat-sidenav-content>
                
                  </mat-sidenav-container>
        </div>
        
    </body>
</html>



