<!--The content below is only a placeholder and can be replaced.-->
<html>
    <head></head>
    <body>
        
        <header>
            <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-black scrolling-navbar ie-nav" [containerInside]="false">
                <logo>
                    <a class="logo navbar-brand" href="#">
                        <strong>Website</strong>
                    </a>
                </logo>
                <links>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active waves-light" mdbRippleRadius>
                            <a class="nav-link" href="home">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item waves-light" mdbRippleRadius>
                            <a class="nav-link" href="about">About</a>
                        </li>
                        <li class="nav-item waves-light" mdbRippleRadius>
                            <a class="nav-link" href="blog">Blog</a>
                        </li>
                        <li class="nav-item waves-light" mdbRippleRadius *ngIf="!(authService.user | async)">
                            <a class="nav-link" href="login">Login</a>
                        </li>
                        <li class="nav-item waves-light" mdbRippleRadius *ngIf="(authService.user | async)">
                            <a class="nav-link" href="write-article">Write an Article</a>
                        </li>
                        <li class="nav-item waves-light" mdbRippleRadius *ngIf="(authService.user | async)">
                            <a class="nav-link" (click)="logout()">Logout</a>
                        </li>
                        <li class="nav-item waves-light" mdbRippleRadius *ngIf="(authService.user | async)">
                            <a class="nav-link">Welcome, {{name}}</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav nav-flex-icons">
                            <li class="nav-item waves-light" mdbRippleRadius *ngIf="(authService.user | async)">
                                    <a class="nav-link" href="user-account">
                                        <i class="fa fa-gear"></i>
                                    </a>
                                </li>
                        <li class="nav-item waves-light" mdbRippleRadius>
                            <a class="nav-link">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="nav-item waves-light" mdbRippleRadius>
                            <a class="nav-link">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </links>
            </mdb-navbar>
            <!-- Main -->
        </header>
        <router-outlet></router-outlet>
    </body>
</html>



