<html>
  <head></head>
  <body>
    
    <header></header>

  <main class="login-page">
    <div class="jumbotron">
      <h1 class="h1-responsive text-center">About the author</h1>
      <hr>
      <div class="row">
          <!--Avatar-->
          <div class="col-12 col-sm-2">
              <img src="http://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="img-fluid rounded-circle z-depth-1">
          </div>
          <!--Author Data-->
          <div class="col-12 col-sm-10">
              <p class="author-name">John Doe</p>
                  <i class="fa fa-facebook fa-2x icon"> </i>
                  <i class="fa fa-twitter fa-2x"> </i>
              <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
          </div>
      </div>
  <!--/.Author box-->
  
    </div>
  </main>

</body>
</html>
