.blog-page {
    margin-top: 6em;
}
.card-container {
    margin: 1rem;
}
.card-title {
    margin-top: 15px;
}
// TECHNOLOGY
.tech {
    background: rgb(0,176,255);
    background: linear-gradient(45deg, rgba(0,176,255,1) 0%, rgba(126,87,194,1) 100%);
    color: white;
}
.tech a {
    text-decoration: none;
    color: white;
}

// CODE
.code {
    background: rgb(255,179,0);
    background: linear-gradient(45deg, rgba(255,179,0,1) 0%, rgba(255,109,0,1) 82%);
    color: white;
}
.code a {
    text-decoration: none;
    color: white;
}   

// TRAVEL
.travel {
    background: rgb(41,182,246);
    background: linear-gradient(45deg, rgba(41,182,246,1) 0%, rgba(38,166,154,1) 82%);
    color: white
}
.travel a {
    text-decoration: none;
    color: white;
}

// LIFESTYLE
.lifestyle {
    background: rgb(229,57,53);
    background: linear-gradient(45deg, rgba(229,57,53,1) 0%, rgba(236,64,122,1) 100%);
    color: white
}
.lifestyle a {
    text-decoration: none;
    color: white;
}

// MISCELLANEOUS
.misc {
    background: rgb(105,240,174);
    background: linear-gradient(45deg, rgba(105,240,174,1) 0%, rgba(0,137,123,1) 100%);
    color: white
}
.misc a {
    text-decoration: none;
    color: white;
}


