<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Rubik:700" rel="stylesheet">
   
    

</head>

<body>
<!--Main Navigation-->
<header>

</header>

<main>
    <div class="container blog-page">
    <div class="row justify-content-md-center my-2">
        <div class="col"></div>
        <div class="col col-lg-2"><div class="btn-group" dropdown>
                <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle waves-light float-left" mdbRippleRadius>
                    Category
                </button>
                            
                <div class="dropdown-menu dropdown-primary">
                <a class="dropdown-item" (click)="getPosts()">All</a>
                <div *ngFor="let cats of cat">
                    <a class="dropdown-item" (click)="sort(cats)">{{cats}}</a>
                </div>
            </div>
            </div></div>
    </div>
    <div class="sk-folding-cube" *ngIf="showSpinner">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
    </div>
    <div class="container-blog" *ngFor="let article of post.data | async" >
    <div class="jumbotron" [ngClass]="{tech : (article.category) == 'Technology',code : (article.category) == 'Code',travel : (article.category) == 'Travel',lifestyle : (article.category) == 'Lifestyle',misc : (article.category) == 'Miscellaneous' }">
        <div class="row" >
            <div class="col-md-4 blog-header">
                <img class="img-fluid z-depth-1 " src="{{article.articleImage}}" alt="">
            </div>
            <div class="col-md-8">
                <h2 class="card-title text-center h2-responsive blog-title">{{article.title}}</h2>
            <h3 class="card-title text-center h3-responsive blog-category">{{article.category}}</h3>
            <h3 class="card-title h3-responsive text-center blog-author">By {{article.authorName}}</h3>
            <h5 class="card-text h5-responsive blog-description">{{article.description}}</h5>
            <a href="#" class="d-flex flex-row-reverse" [routerLink]="['/read-article', article.id]"> 
                <h5 class="waves-effect p-2 blog-read-more" mdbRippleRadius>Read more <i class="fa fa-chevron-right"></i></h5>
            </a>
            </div>
        </div>
    </div>
</div>
<div class="sk-folding-cube" *ngIf="post.loading | async">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
</div>
<button type="button" (click)="onScroll()" *ngIf="!(post.done | async)" class="btn btn-primary btn-default btn-lg btn-block waves-light" mdbRippleRadius>Primary</button>

<div *ngIf="post.done | async">
  End of database... That's all folks!
</div>

    </div>
</main>









</body>