.blog-page {
    margin-top: 6em;
}
.card-container {
    margin: 1rem;
}
.card-title {
    margin-top: 15px;
}
// TECHNOLOGY
.tech {
    background: rgb(38,50,56);
    background: linear-gradient(45deg, rgba(38,50,56,1) 0%, rgb(136, 164, 179) 100%);
    color: white
}
.tech a {
    text-decoration: none;
    color: white;
}

// CODE
.code {
    background: rgb(0,0,0);
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgb(114, 114, 114) 100%);
    color: white
}
.code a {
    text-decoration: none;
    color: white;
}   

// TRAVEL
.travel {
    background: rgb(0,176,255);
    background: linear-gradient(45deg, rgba(0,176,255,1) 0%, rgba(128,222,234,1) 100%);
    color: black
}
.travel a {
    text-decoration: none;
    color: black;
}

// LIFESTYLE
.lifestyle {
    background: rgb(211,47,47);
    background: linear-gradient(45deg, rgba(211,47,47,1) 0%, rgba(255,171,145,1) 100%);
    color: white
}
.lifestyle a {
    text-decoration: none;
    color: white;
}

// MISCELLANEOUS
.misc {
    background: rgb(0,150,136);
    background: linear-gradient(45deg, rgba(0,150,136,1) 0%, rgba(178,223,219,1) 100%);
    color: black
}
.misc a {
    text-decoration: none;
    color: black;
}


