.blog-page {
    margin-top: 6em;
}
.card-container {
    margin: 1rem;
}
.card-title {
    margin-top: 15px;
}
// TECHNOLOGY
.tech {
    background: #03a9f4;
    color: white
}
.tech a {
    text-decoration: none;
    color: white;
}

// CODE
.code {
    background: #000000;
    color: white
}
.code a {
    text-decoration: none;
    color: white;
}

// TRAVEL
.travel {
    background: #ff4444;
    color: white
}
.travel a {
    text-decoration: none;
    color: white;
}

// LIFESTYLE
.lifestyle {
    background: #00C851;
    color: white
}
.lifestyle a {
    text-decoration: none;
    color: white;
}

// MISCELLANEOUS
.misc {
    background: #37474F;
    color: white
}
.misc a {
    text-decoration: none;
    color: white;
}