/* You can add global styles to this file, and also import other style files */
.login-page {
    margin-top: 6em;
    padding: 6em;
}
.home-title{
    font-family: 'Rubik', sans-serif;
    font-size: 62px;
}
.home-description {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}
.title {
    margin-bottom: 6rem;
}
img {
    width: 100%;
    height: auto;
}
.display-image {
    height: 25px;
    width: 25px;
    margin-left: 10px;
    margin-right: 10px;
}