.view {
    background: url("../../assets/homeimage.jpg")no-repeat center center;
    background-size: cover;
}
.home-title{
    font-family: 'Rubik', sans-serif;
    font-size: 62px;
}
.home-description {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}
.space {
    margin-bottom: 12rem;
}
.inter-space {
    margin-bottom: 4rem;
}