.view {
    background: url("../../assets/homeimage.jpg")no-repeat center center;
    background-size: cover;
}
.home-title{
    font-family: 'Rubik', sans-serif;
    font-size: 62px;
}
.intro-text {
    margin-top: 200px;
}
.home-description {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    margin-bottom: 40px;
}
.space {
    margin-bottom: 12rem;
}
.inter-space {
    margin-bottom: 4rem;
}
.user-blog-card {
    min-height: 100%;
    margin-bottom: 10px;
}
.spinner {
    width: 40px;
    height: 40px;
    background-color: #2962ff;
  
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  }
  
  @keyframes sk-rotateplane {
    0% { 
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }

  .blog-container {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  }
  .insta-container {
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  }